In [1]:
import pandas as pd

input_data = {
    "signups": pd.Series([1, 10, 50, 100, 200, 400]),
    "spend": pd.Series([10, 10, 20, 40, 40, 50]),
}

In [2]:
def avg_3wk_spend(spend: pd.Series) -> pd.Series:
    """Rolling 3 week average spend."""
    return spend.rolling(3).mean()

   avg_3wk_spend
0            NaN
1            NaN
2      13.333333
3      23.333333
4      33.333333
5      43.333333

In [3]:
def spend_per_signup(spend: pd.Series, signups: pd.Series) -> pd.Series:
    """The cost per signup in relation to spend."""
    return spend / signups

   spend_per_signup
0            10.000
1             1.000
2             0.400
3             0.400
4             0.200
5             0.125

In [17]:
def spend_mean(spend: pd.Series) -> pd.Series:
    """Shows function creating a scalar. In this case it computes the mean of the entire column."""
    # Need to cast to a series since the result builder can't display a float.
    # Seems like something which should be supported?
    return pd.Series(spend.mean())

   spend_mean
0   28.333333

In [18]:
def spend_zero_mean(spend: pd.Series, spend_mean: pd.Series) -> pd.Series:
    """Shows function that takes a scalar. In this case to zero mean spend."""
    return spend - spend_mean[0]

   spend_zero_mean
0       -18.333333
1       -18.333333
2        -8.333333
3        11.666667
4        11.666667
5        21.666667

In [20]:
def spend_std_dev(spend: pd.Series) -> pd.Series:
    """Function that computes the standard deviation of the spend column."""
    # Need to cast to a series since the result builder can't display a float.
    # Seems like something which should be supported?
    return pd.Series(spend.std())

   spend_std_dev
0      17.224014

In [21]:
def spend_zero_mean_unit_variance(spend_zero_mean: pd.Series, spend_std_dev: pd.Series) -> pd.Series:
    """Function showing one way to make spend have zero mean and unit variance."""
    return spend_zero_mean / spend_std_dev[0]

   spend_zero_mean_unit_variance
0                      -1.064405
1                      -1.064405
2                      -0.483821
3                       0.677349
4                       0.677349
5                       1.257934